@import 'treo';

example {

}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $is-dark: map-get($theme, is-dark);

    example {

    }
}

.dashboard-placeholder {
    align-items: center;
    justify-content: center;
    padding: 32px;

    img {
        max-width:500px;
    }
}
