<!-- Flippable card -->
@if (flippable) {
  <!-- Front -->
  <div class="treo-card-front">
    <ng-content select="[treoCardFront]"></ng-content>
  </div>
  <!-- Back -->
  <div class="treo-card-back">
    <ng-content select="[treoCardBack]"></ng-content>
  </div>
}

<!-- Normal card -->
@if (!flippable) {
  <!-- Content -->
  <ng-content></ng-content>
  <!-- Expansion -->
  @if (expanded) {
    <div class="treo-card-expansion"
      [@expandCollapse]>
      <ng-content select="[treoCardExpansion]"></ng-content>
    </div>
  }
}
