// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

.treo-theme-dark {
    .yellow-50 {
        background-color: #242b38 !important;

        .mat-icon {
            color: #0694a2 !important;
        }

        .text-secondary {
            color: #0694a2 !important
        }
    }
    .apexcharts-tooltip {
        background: #242b38 !important;
        //color: orange;
    }
}
