<h2 mat-dialog-title>Device Settings</h2>
<mat-dialog-content class="mat-typography">

    <form class="flex flex-col p-8 pb-0 ">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Custom Label</mat-label>
                <input matInput [(ngModel)]="label" name="label" placeholder="e.g., Parity 1, Data Drive">
                <mat-hint>A friendly name to identify this drive</mat-hint>
            </mat-form-field>
        </div>

        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Threshold Data</mat-label>
                <mat-select [value]="'scrutiny'">
                    <mat-option  value="scrutiny">Scrutiny</mat-option>
                    <mat-option value="name" disabled>Manufacturer</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Notifications</mat-label>
                <mat-select [(value)]="muted">
                    <mat-option [value]="false">Enabled</mat-option>
                    <mat-option [value]="true">Disabled</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="{ muted, label }" cdkFocusInitial>Save</button>
</mat-dialog-actions>
